<p-toast></p-toast>

<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
      <h3 class="m-0">Filters</h3>
      <p-button class="p-teritory-button" [label]="'Edit Filters'" icon="pi pi-pencil"></p-button>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h6 class="m-0">My Filters</h6>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="chips-container">
        <ng-container *ngFor="let filter of recentFilters;let index=index">
          <div class="filter-container">
            <div>
              <p-chip [label]="filter.label" (click)="filter.isEdit = true" [class.edit]="filter.isEdit">
                <i class="pi pi-minus-circle" (click)="recentFilters.splice(index, 1)"></i>

                <ng-container *ngIf="filter.isEdit">
                  <input type="text" autofocus name="filter-name" [(ngModel)]="filter.label">
                  <i class="pi pi-check-circle me-2" (click)="$event.stopPropagation(); filter.isEdit = false"></i>
                </ng-container>
              </p-chip>
            </div>
          </div>

        </ng-container>
        <p-chip label="+New" (click)="recentFilters.push({label: '', isEdit: true})" [style.margin-left]="recentFilters && recentFilters.length > 0 ? '50px' : '0'"></p-chip>
      </div>

    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p-tabView>
        <p-tabPanel>
          <ng-template pTemplate = "header">
            <div class="panel-nav-link" [class.disabled]="!filters.spotify.filterTypeEnabled">
              <i class="bi-spotify"></i>
              <span class="filter-name">Spotify</span>
              <span class="count">3</span>
              <p-inputSwitch (onChange)="setQueryParams()" [(ngModel)]="filters.spotify.filterTypeEnabled"></p-inputSwitch>
            </div>

            <div class="caret-up-container" style="display: none">
              <i class="bi-caret-up-fill"></i>
            </div>
          </ng-template>

          <ng-container>
            <div class="row mb-3">
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-end">
                <p-button label="Previous setting" class="p-teritory-button me-3"></p-button>
                <p-button label="Reset" class="p-teritory-button me-3"></p-button>
                <p-button icon="pi pi-times" class="p-teritory-button"></p-button>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-12" [class.disabled]="!filters.spotify.spotify_monthly_listeners.enabled">
                    <h6>Monthly Listeners</h6>
                    <div>
                      <p-inputNumber (onInput)="setQueryParams()" name="spotify-monthly-listeners-min-value" [min]="filters.spotify.spotify_monthly_listeners.interval.min"
                             [(ngModel)]="+filters.spotify.spotify_monthly_listeners.selectedInterval[0]"
                                     class="w-40 w-35 filter-input text-light"></p-inputNumber>
                      <span class="mx-2">to</span>
                      <p-inputNumber (onInput)="setQueryParams()" name="spotify-monthly-listeners-max-value" [max]="filters.spotify.spotify_monthly_listeners.interval.max"
                             [(ngModel)]="+filters.spotify.spotify_monthly_listeners.selectedInterval[1]"
                                     class="w-40 w-35 filter-input text-light"></p-inputNumber>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-11 d-flex flex-column justify-content-end pt-50 padding-50" [class.disabled]="!filters.spotify.spotify_monthly_listeners.enabled">
                    <p-slider [(ngModel)]="filters.spotify.spotify_monthly_listeners.selectedInterval"
                              [min]="filters.spotify.spotify_monthly_listeners.interval.min"
                              [max]="filters.spotify.spotify_monthly_listeners.interval.max"
                              (onSlideEnd)="setQueryParams()"
                              (onChange)="filters.spotify.spotify_monthly_listeners.value.min = filters.spotify.spotify_monthly_listeners.selectedInterval[0]; filters.spotify.spotify_monthly_listeners.value.max = filters.spotify.spotify_monthly_listeners.selectedInterval[1] "
                              [range]="true" class="w-100"></p-slider>
                    <div class="mt-2 d-flex justify-content-between">
                      <span class="interval-text">{{filters.spotify.spotify_monthly_listeners.selectedInterval[0]}}</span>
                      <span class="interval-text">{{filters.spotify.spotify_monthly_listeners.selectedInterval[1]}}</span>
                    </div>

                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 d-flex align-items-end mb-3">
                    <p-inputSwitch (onChange)="setQueryParams()" [(ngModel)]="filters.spotify.spotify_monthly_listeners.enabled"></p-inputSwitch>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-12" [class.disabled]="!filters.spotify.top_track_streams.enabled">
                    <h6>Top track streams</h6>
                    <div>
                      <p-inputNumber (onInput)="setQueryParams()" name="spotify-top_track_streams-min-value" [min]="filters.spotify.top_track_streams.interval.min"
                                     [(ngModel)]="filters.spotify.top_track_streams.selectedInterval[0]" class="w-40 w-35 filter-input text-light"></p-inputNumber>
                      <span class="mx-2">to</span>
                      <p-inputNumber (onInput)="setQueryParams()" name="spotify-top_track_streams-max-value" [max]="filters.spotify.top_track_streams.interval.max"
                                     [(ngModel)]="filters.spotify.top_track_streams.selectedInterval[1]" class="w-40 w-35 filter-input text-light"></p-inputNumber>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-11 d-flex flex-column justify-content-end pt-50 padding-50" [class.disabled]="!filters.spotify.top_track_streams.enabled">
                    <p-slider [(ngModel)]="filters.spotify.top_track_streams.selectedInterval"
                              [min]="filters.spotify.top_track_streams.interval.min"
                              [max]="filters.spotify.top_track_streams.interval.max"
                              (onSlideEnd)="setQueryParams()"
                              (onChange)="filters.spotify.top_track_streams.value.min = filters.spotify.top_track_streams.selectedInterval[0]; filters.spotify.top_track_streams.value.max = filters.spotify.top_track_streams.selectedInterval[1] "
                              [range]="true" class="w-100"></p-slider>
                    <div class="mt-2 d-flex justify-content-between">
                      <span class="interval-text">{{filters.spotify.top_track_streams.selectedInterval[0]}}</span>
                      <span class="interval-text">{{filters.spotify.top_track_streams.selectedInterval[1]}}</span>
                    </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 d-flex align-items-end mb-3">
                    <p-inputSwitch (onChange)="setQueryParams()" [(ngModel)]="filters.spotify.top_track_streams.enabled" ></p-inputSwitch>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-12" [class.disabled]="!filters.spotify.spotify_follower.enabled">
                    <h6>Follower</h6>
                    <div>
                      <p-inputNumber (onInput)="setQueryParams()" name="spotify-spotify_follower-min-value" [min]="filters.spotify.spotify_follower.interval.min"
                                     [(ngModel)]="filters.spotify.spotify_follower.selectedInterval[0]" class="w-40 w-35 filter-input text-light"></p-inputNumber>
                      <span class="mx-2">to</span>
                      <p-inputNumber (onInput)="setQueryParams()" name="spotify-top_track_streams-min-value" [max]="filters.spotify.spotify_follower.interval.max"
                                     [(ngModel)]="filters.spotify.spotify_follower.selectedInterval[1]" class="w-40 w-35 filter-input text-light"></p-inputNumber>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-11 d-flex flex-column justify-content-end pt-50 padding-50" [class.disabled]="!filters.spotify.spotify_follower.enabled">
                    <p-slider [(ngModel)]="filters.spotify.spotify_follower.selectedInterval"
                              [min]="filters.spotify.spotify_follower.interval.min"
                              [max]="filters.spotify.spotify_follower.interval.max"
                              (onSlideEnd)="setQueryParams()"
                              (onChange)="filters.spotify.spotify_follower.value.min = filters.spotify.spotify_follower.selectedInterval[0]; filters.spotify.spotify_follower.value.max = filters.spotify.spotify_follower.selectedInterval[1] "
                              [range]="true" class="w-100"></p-slider>
                    <div class="mt-2 d-flex justify-content-between">
                      <span class="interval-text">{{filters.spotify.spotify_follower.selectedInterval[0]}}</span>
                      <span class="interval-text">{{filters.spotify.spotify_follower.selectedInterval[1]}}</span>
                    </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 d-flex align-items-end mb-3">
                    <p-inputSwitch (onChange)="setQueryParams()" [(ngModel)]="filters.spotify.spotify_follower.enabled"></p-inputSwitch>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-sm-12" [class.disabled]="!filters.spotify.recent_track_streams.enabled">
                    <h6>Streams of latest release</h6>
                    <div>
                      <p-inputNumber (onInput)="setQueryParams()" name="spotify-top_track_streams-min-value" [min]="filters.spotify.recent_track_streams.interval.min"
                                     [(ngModel)]="filters.spotify.recent_track_streams.selectedInterval[0]" class="w-40 w-35 filter-input text-light"></p-inputNumber>
                      <span class="mx-2">to</span>
                      <p-inputNumber (onInput)="setQueryParams()" name="spotify-top_track_streams-min-value" [max]="filters.spotify.recent_track_streams.interval.max"
                                     [(ngModel)]="filters.spotify.recent_track_streams.selectedInterval[1]" class="w-40 w-35 filter-input text-light"></p-inputNumber>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-11 d-flex flex-column justify-content-end pt-50" [class.disabled]="!filters.spotify.recent_track_streams.enabled">
                    <p-slider [(ngModel)]="filters.spotify.recent_track_streams.selectedInterval"
                              [min]="filters.spotify.recent_track_streams.interval.min"
                              [max]="filters.spotify.recent_track_streams.interval.max"
                              (onSlideEnd)="setQueryParams()"
                              (onChange)="filters.spotify.recent_track_streams.value.min = filters.spotify.recent_track_streams.selectedInterval[0]; filters.spotify.recent_track_streams.value.max = filters.spotify.recent_track_streams.selectedInterval[1] "
                              [range]="true" class="w-100"></p-slider>
                    <div class="mt-2 d-flex justify-content-between">
                      <span class="interval-text">{{filters.spotify.recent_track_streams.selectedInterval[0]}}</span>
                      <span class="interval-text">{{filters.spotify.recent_track_streams.selectedInterval[1]}}</span>
                    </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 d-flex align-items-end mb-3">
                    <p-inputSwitch (onChange)="setQueryParams()" [(ngModel)]="filters.spotify.recent_track_streams.enabled"></p-inputSwitch>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate = "header">
            <div class="panel-nav-link" [class.disabled]="!filters.instagram.filterTypeEnabled">
              <i class="bi-instagram"></i>
              <span class="filter-name">Instagram</span>
              <span class="count">13</span>
              <p-inputSwitch (onChange)="setQueryParams()"></p-inputSwitch>
            </div>

            <div class="caret-up-container" style="display: none">
              <i class="bi-caret-up-fill"></i>
            </div>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate = "header">
            <div class="panel-nav-link" [class.disabled]="!filters.youtube.filterTypeEnabled">
              <i class="bi-youtube"></i>
              <span class="filter-name">Youtube</span>
              <span class="count">8</span>
              <p-inputSwitch (onChange)="setQueryParams()"></p-inputSwitch>
            </div>

            <div class="caret-up-container" style="display: none">
              <i class="bi-caret-up-fill"></i>
            </div>
          </ng-template>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate = "header">
            <div class="panel-nav-link" [class.disabled]="!filters.genre.filterTypeEnabled">
              <i class="bi-music-note"></i>
              <span class="filter-name">Genre</span>
              <span class="count">10</span>
              <p-inputSwitch (onChange)="setQueryParams()" [ngModel]="true"></p-inputSwitch>
            </div>

            <div class="caret-up-container" style="display: none">
              <i class="bi-caret-up-fill"></i>
            </div>
          </ng-template>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate = "header">
            <div class="panel-nav-link" [class.disabled]="!filters.countries.filterTypeEnabled">
              <i class="bi-globe"></i>
              <span class="filter-name">Countries</span>
              <span class="count">1</span>
              <p-inputSwitch (onChange)="setQueryParams()" [ngModel]="true"></p-inputSwitch>
            </div>

            <div class="caret-up-container" style="display: none">
              <i class="bi-caret-up-fill"></i>
            </div>
          </ng-template>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <h6 class="m-0">Actual matches</h6><h5 class="ms-3 mb-0" style="color: yellow">{{filterArtists?.length}} Artists</h5>
      </div>
      <p-button label="Save setting as filter" class="p-primary-button"></p-button>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h4>Your artist for filter "US big in EU"</h4>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex align-items-center justify-content-between">
      <div class="chips-container">
        <p-chip label="Artist with biggest following"></p-chip>
        <p-chip label="Newcomer within my genres"></p-chip>
        <p-chip label="tbd"></p-chip>
      </div>
      <div>
        <p-dropdown class="sort-by-dropdown" placeholder="Sort by"></p-dropdown>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-end">
      <p-button label="Pick multiple artists" class="p-teritory-button"></p-button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-col-sm-12">
      <div class="tracks-container">
        <ng-container *ngFor="let artist of filterArtists;let index=index">
          <div class="track-container mb-3">
            <div class="track-details">
              <div class="d-flex mb-3">
                <span>{{index + 1}}</span>
                <img [src]="artist.image_url" alt="track-logo">
              </div>
              <p-slider [(ngModel)]="val1" class="w-100"></p-slider>
              <div class="button-container mt-3">
                <p-button icon="pi pi-sliders-h"></p-button>
                <p-button icon="pi pi-step-backward"></p-button>
                <p-button icon="pi pi-play"></p-button>
                <p-button icon="pi pi-step-forward"></p-button>
                <p-button icon="pi pi-sync"></p-button>
              </div>
            </div>
            <div class="d-flex flex-column align-items-top justify-content-center pt-3">
              <h5>{{artist?.name}}</h5>
              <h6>{{artist?.country}}</h6>

              <h6>{{artist?.genre}}, {{artist?.subgenre}}</h6>
            </div>
            <div class="d-flex flex-column justify-content-center">
              <i class="bi-spotify"></i>
              <div class="d-flex">
                <div class="d-flex flex-column me-4">
                  <span>Monthly Listeners</span>
                  <span>{{getFormat(artist?.spotify_monthly_listeners)}}</span>
                </div>
                <div class="d-flex flex-column">
                  <span>Top Track Streams</span>
                  <span>{{getFormat(artist?.top_track_streams)}}</span>
                </div>
              </div>

            </div>
            <div class="d-flex flex-column justify-content-center">
              <i class="bi-instagram"></i>
              <div class="d-flex flex-column">
                <span>Follower</span>
                <span>{{getFormat(artist?.instagram_follower)}}</span>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
              <i class="bi-youtube"></i>
              <div class="d-flex flex-column">
                <span>Stream Total</span>
                <span>{{getFormat(artist?.youtube_views)}}</span>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
              <p-knob [ngModel]="artist.fit_score"></p-knob>
              <span class="text-center mt-3">fits {{artist?.fit_score}}%</span>
            </div>
            <div class="d-flex flex-column justify-content-between">
              <i class="pi pi-heart"></i>

              <div class="d-flex flex-column">
                <i class="pi pi-sliders-v mb-3"></i>
                <i class="pi pi-envelope"></i>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>

<p-progressSpinner *ngIf="showLoader"></p-progressSpinner>
